@import '_variables';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  //  height: 100%!important;
  /* The html and body elements cannot have any padding or margin. */
  background-color: $white;
  font-family: 'freight-text-pro', Georgia, serif;
  line-height: 22px;
  &::selection {
    background: #DD574C;
    color: #fff;
  }
}

.row {
  display: inline-flex;
  background-color: white;
}

.container-fluid {
  height: 100% !important;
  /* The html and body elements cannot have any padding or margin. */
}

ul.frontPage {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    //    border-bottom: 1px solid #d0d0d0;
  }
  h3 {
    font-size: 1.45rem;
    text-decoration: dashed;
    padding: 0px;
  }
  .visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

}

.welcome {
  text-align: center;
}

.sidebar {
  //  background-color: #e0e0e0;
  z-index: 1;
  background-color: $white;
  padding: 10% 1% 0 1%;
  transition: visibility 0s 2s, opacity 2s linear;
}

.responsiveList {
  -webkit-overflow-scroll: touch;
  overflow-scroll: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

a {
  text-decoration: none;
  color: #000000;
}

.article {
  transition: visibility 0s 2s, opacity 2s linear;
  //  padding: 10px 10px 40px 20px;
  border-radius: 5px 0 0 0;
  a {
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    body.firefox & {
      font-weight: normal;
    }
  }
  font-family: 'freight-text-pro', Georgia, serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 33px;
  &::selection {
    background: #DD574C;
    color: #fff;
  }
}

.date-title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3%;
  width: 100%;
  display: inline-block;
}

#hamburgerButton {
  z-index: 9999;
}

#disqus_thread {
  margin-top: 25px;
}

.innerXsPadding {
  padding: 50px 15% 0 15%;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.excerpt {
  font-size: 1.25em;
  text-align: center;
  em {
    font-smoothing: antialiased;
    font: 22px/1.5 'freight-text-pro', Georgia, serif;
    font-style: italic;
  }
  padding: 25px 0 25px 0;
}

#footer {
  display: inline-block;
  width: 100%;
  margin-top: 5%;
  #footer-inside {
    background: none;
    color: #777;
    padding: 0;
    text-align: center;
    line-height: 22px;
    float: left;
    width: 100%;
    .widget a {
      color: #ccc;
    }
  }
  .widget {
    float: left;
    width: 25%;
    font-size: 15px;
    margin: 0 4% 5% 4%;
  }
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  margin: 0;
  font-family: 'Raleway', 'freight-text-pro', 'Helvetica Neue', Helvetica, sans-serif;
  a {
    color: $black;
    text-decoration: none;
    &:hover, &:link, &:active, &:visited {
      text-decoration: none;
      color: $black;
    }
    body.firefox & {
      font-weight: normal;
    }
  }
}

h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  margin: 0;
  font-family: 'Raleway', 'freight-text-pro', 'Helvetica Neue', Helvetica, sans-serif;
  a {
    color: $black;
    text-decoration: none;
    &:hover, &:link, &:active, &:visited {
      text-decoration: none;
      color: $black;
    }
    body.firefox & {
      font-weight: normal;
    }
  }
}
.fp-title {
  color: $olive;
}
.fp-desc {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 38px;
    line-height: 46px;
  }
  .article {
    border-radius: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .innerXsPadding {
    padding: 50px 10% 0 10%;
  }
  .container-fluid {
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .innerXsPadding {
    padding: 50px 10% 0 10%;
  }
  .article {
    border-radius: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .container-fluid {
    padding: 0;
  }
}

@import 'animate';
