
// Colors
$gray: #F0F0F0;

// Fonts
$fontFamilyHeadlines: 'Bitter','Droid Sans', 'Roboto', 'Cantarell', Helvetica Neue, Helvetica, Arial, sans-serif;
$fontFamilyText: 'Open Sans','Droid Sans', 'Roboto', 'Cantarell', Helvetica Neue, Helvetica, Arial, sans-serif;

$fontSizeRegular: 1.5rem;
$fontSizeRegularSm: 2.1rem;
$fontSizeSmall: 1.1rem;
$fontSizeSmallSm: 1.3rem;

// Other
$mediaQueryPhone: "only screen and (max-width : 320px)";


