.container{
  padding-top:20px;
}

/**
* We are not changing from display:none, but rather re-rendering instead.
* Therefore this needs to be displayed normally by default.
*/
#todo-list li .edit {
  display: inline;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('/todomvc-common/bg.png');
  color: #4d4d4d;
  margin: 0 auto;
  font-smoothing: antialiased;
}