/* PRETTIER LINKS */

a {
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;
  }

a:link    {
  color: $black;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:visited {
  color: $olive;
}

a:hover   {
  color: $maroon;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:active  {
  color: $maroon;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

